body{
    display: block;

    background-color: black;
}

header{
    border-bottom: 5px solid goldenrod;
    font-style:italic;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: gold;
}

div{
    padding: 5px;
    font-size: 25px;
    color: rgb(255, 166, 0);
}